[submodule "onboarding-coursework"]
	path = onboarding-coursework
	url = https://github.com/japostadan/Module-Onboarding.git
[submodule "bio-page-homework"]
	path = bio-page-homework
	url = https://github.com/japostadan/GitHomeworkTest.git
[submodule "fix-errors-homework"]
	path = fix-errors-homework
	url = https://github.com/japostadan/GitHomeworkFixErrors.git
[submodule "bikes-for-refugees"]
	path = bikes-for-refugees
	url = git@github.com:japostadan/bikes-for-refugees.git
[submodule "Module-Structuring-and-Testing-Data"]
	path = Module-Structuring-and-Testing-Data
	url = https://github.com/japostadan/Module-Structuring-and-Testing-Data.git
